<% include ../../../views/head %>

  <h1>Corridor!</h1>
  <div id='board'></div>
  <form id='board_form'>
    <input type="hidden" name="current_cols" value="<%= num_cols %>" />
    <input type="hidden" name="current_rows" value="<%= num_rows %>" />
    <input type="hidden" name="current_fences" value="10" />
  </form>

  <!-- Scripts not included in foot.ejs (or which need to be added before these site-specific scripts) -->
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <script src="/js/libs/jquery-ui-1.8.21.custom.min.js"></script>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/board_classes.js"></script>
  <script src="/js/board.js"></script>
  <!-- end scripts -->

<% include ../../../views/foot %>