module.exports = {
  DB_HOST: process.env.MONGO_HOST
, DB_PORT: process.env.MONGO_PORT
, DB_NAME: process.env.MONGO_NAME
, DB_USER: process.env.MONGO_USER
, DB_PASSWORD: process.env.MONGO_PASSWORD

, SESSION_SECRET: process.env.SESSION_SECRET
};

//command line commands:

//connect to DB:
//mongo [DB_HOST]:[DB_PORT]/[DB_NAME] -u [DB_USER] -p [DB_PASSWORD]

//import into DB from file
//mongoimport -h [DB_HOST]:[DB_PORT] -d [DB_NAME] -u [DB_USER] -p [DB_PASSWORD] -c [collection_name] [file.json]

//export from DB into file
//mongoexport -h [DB_HOST]:[DB_PORT] -d [DB_NAME] -u [DB_USER] -p [DB_PASSWORD] -c [collection_name] > [file.json]