<% include head.ejs %>

  <header>
    <a href= "/" id="logo" alt="The Wishing Well" class="ir"></a>
  </header>
  <div role="main">
    <form method="post" action="wish" id="wish_form">
        <label for="wish" id="wish_label">I wish for:</label>
        <input type="text" id="wish" name="wish" />
        <input type="submit" id="wish_button" value="Toss a coin down the well" />
    </form>
  </div>
  <footer>
  </footer>

<% include foot.ejs %>