<% include ../../../views/head %>

  <div role="main" class="main" id="about_page">

      <%
      var rand2 = Math.floor(Math.random()*7), 
          goals = [
            "being everywhere at once."
          , "immortality! MUAHAHAHA."
          , "helping to make the World Wide Web a more user-friendly place."
          , "speaking fluent Spanish."
          , "reading every word written by mankind. Ever."
          , "realizing that the truth was right in front of him, all along."
          , "finding out just how deep the rabbit hole goes."
          ],
            goal = goals[rand2];
      %>
      <div id="about_content">
          <p>Aaron Yoshitake is a Full-Stack web developer and wizard based out of breezy, Oceanside, California.</p>
          <p>When he is not wielding his supernatural powers, Aaron can be found in a crazy thing called "The Internet," engineering new, interactive systems using HTML, CSS, JavaScript (jQuery and Node.js), and MongoDB. </p>
          <p>A member of the 
            <a href = "https://www.facebook.com/EncinitasAikido"> 
            Encinitas Doshin-Aikido Dojo
            </a>, Aaron is finding the way of harmony with universal energy through practice, focus, and meditation.  He will one day achieve his goal of <%= goal %>
          <p>Contact him telepathically, through the æther, or by e-mail at <a href="mailto:airandfingers@gmail.com"> airandfingers@gmail.com</a></p> 
      </div>
      <img src="img/big_redpill_right.gif" />
  </div>

  <footer>
  </footer>

  <!-- Scripts not included in foot.ejs (or which need to be added before these site-specific scripts) -->
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

<% include ../../../views/foot %>