<% include head %>

  <h4>Please log in.</h4>
  <% if (message) { %>
    <p><%= message %></p>
  <% } %>
  <div id="login_main">
    <form action="/login" method="post">
      <div class="form_row">
        <label for="login_main_username">USERNAME:</label>
        <input type="text" name="username" id="login_main_username" placeholder="username" autofocus required />
      </div>
      <div class="form_row">
        <label for="login_main_password">PASSWORD:</label>
        <input type="password" name="password" id="login_main_password" placeholder="password" required />
      </div>
      <div class="form_row">
        <input type="submit" value="Login" class="button" />
      </div>
      <% if (next) { %>
        <input type="hidden" name="next" value="<%= next %>" />
      <% } %>
    </form>
    <form action="/guest_login" method="post">
      <div class="form_row">
        <input type="submit" class="button" value="Login as Guest" />
      </div>
      <% if (next) { %>
        <input type="hidden" name="next" value="<%= next %>" />
      <% } %>
    </form>
    <div class="form_row">
      NO LOGIN?
      <br />
      <a href="/register<%= next ? '?next=' + next : '' %>"> REGISTER HERE</a>
    </div>
  </div>

<% include foot %>