<% include head %>

  <h4 class="invert">Welcome back!</h4>
  <% if (message) { %>
    <h5 class="invert"><%= message %></h5>
  <% } %>
  <div id="login_main">
    <form action="/login" method="post">
      <div class="form_row">
        <label for="login_main_username">USERNAME:</label>
        <input type="text" name="username" id="login_main_username" placeholder="username" autofocus required />
      </div>
      <div class="form_row">
        <label for="login_main_password">PASSWORD:</label>
        <input type="password" name="password" id="login_main_password" placeholder="password" required />
      </div>
      <div class="form_row">
        <input type="submit" value="Log in" class="button" />
      </div>
      <% if (next) { %>
        <input type="hidden" name="next" value="<%= next %>" />
      <% } %>
    </form>
    <form action="/guest_login" method="post">
      <div class="form_row">
        <input type="submit" class="button" value="Log in as Guest" />
      </div>
      <% if (next) { %>
        <input type="hidden" name="next" value="<%= next %>" />
      <% } %>
    </form>
    <div class="form_row">
      NO ACCOUNT? <a href="/register<%= next ? '?next=' + next : '' %>">REGISTER</a>
    </div>
  </div>

<% include foot %>