<% include head %>
  <h4>Ready to sign up?</h4>
  <% if (message) { console.log(message); %>
    <p><%= message %></p>
  <% } %>
  <div role="main" class="main" id="registration_main">
      <form action="/register" method="post">
        <div class="form_row">
          <label for="register_main_username">USERNAME:</label>
          <input type="text" name="username" id="register_main_username" placeholder="username" autofocus />
        </div>
        <div class="form_row">
          <label for="register_main_password">PASSWORD:</label>
          <input type="password" name="password" id="register_main_password" placeholder="password" />
        </div>
        <div class="form_row">
          <label for="register_main_password_confirm">CONFIRM PASSWORD:</label>
          <input type="password" name="password_confirm" id="register_main_password_confirm" placeholder="re-type password" />
        </div>
        <div class="form_row">
          <input type="submit" value="Log In" class="button"/>
        </div>
        <% if (next) { %>
          <input type="hidden" name="next" value="<%= next %>" />
        <% } %>
    </form>
    <% if (typeof locals.username !== 'string') { %>
        <form action="/guest_login" method="post">
          <div class="form_row">
            <input type="submit" class="button" value="Login as Guest" />
          </div>
          <% if (next) { %>
            <input type="hidden" name="next" value="<%= next %>" />
          <% } %>
        </form>
    <% } %>
    <div class="form_row">
      ALREADY HAVE AN ACCOUNT?
      <br />
      <a href="/login<%= next ? '?next=' + next : '' %>">LOG IN HERE</a>
    </div>
  </div>

<% include foot %>