<% include ../../../views/head %>
  
  <div id="epiceditor"></div>
  
  <!--include values to expose to scripts-->
  <input type="hidden" id="server_values"
       data-doc="<%= JSON.stringify(doc) %>"
  />

  <script src="/epiceditor/js/epiceditor.js"></script>
  
<% include ../../../views/foot %>