<div class="popover {{placement}}" ng-class="{ in: isOpen, fade: animation() }"
     ng-init="$root.backupDomain(item)">
  <div class="arrow"></div>
  <div class="popover-inner">
    <div ng-enter="$root.saveDomain(item); closePopup($event);"
         ng-ctrl-delete="$root.deleteDomain(item); closePopup($event);"
         ng-escape="$root.revertDomain(item); closePopup($event);">
      <div class="input-group" title="Name of this domain">
        <span class="input-group-addon bold" focus-next-when-clicked>Name</span>
        <input type="text" class="form-control" ng-model="item.name" focus-on-load />
      </div>
      <div class="input-group" title="A short description of this domain">
        <span class="input-group-addon bold" focus-next-when-clicked>Description</span>
        <input type="text" class="form-control" ng-model="item.description" />
      </div>
    </div>
    <div class="input-group" title="When you add a record in this area, will you want to enter details?">
      <span class="input-group-addon bold" focus-next-when-clicked>Hide Domain?</span>
      <select class="form-control" ng-model="item.hidden"
              ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]">
      </select>
    </div>
    <div class="crud_buttons">
      <button class="btn btn-primary" ng-click="$root.saveDomain(item); closePopup($event);" title="{{mode}} (Enter)">
        {{mode}}
        <span class="glyphicon glyphicon-ok"></span>
      </button>
      <button ng-if="mode === 'Update'" class="btn btn-danger"
              ng-click="$root.deleteDomain(item); closePopup($event);" title="Delete (Ctrl + Delete)">
        Delete
        <span class="glyphicon glyphicon-trash"></span>
      </button>
      <button ng-if="mode === 'Update'" class="btn btn-warning float-right"
              ng-click="$root.revertDomain(item); closePopup($event);" title="Discard Changes (Esc)">
        Discard
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button ng-if="mode !== 'Update'" class="btn btn-warning float-right"
              ng-click="$root.newDomain(); closePopup($event);" title="Cancel (Esc)">
        Cancel
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
</div>