<div class="popover {{placement}}" ng-class="{ in: isOpen, fade: animation() }">
  <div class="arrow"></div>
  <div class="popover-inner">
    <div ng-ctrl-enter="$root.saveDomain(item); closePopup();"
         ng-ctrl-delete="$root.deleteDomain(item); closePopup();"
         ng-escape="$root.revertDomain(item); closePopup();">
      <div class="input-group" title="Name of this domain">
        <span class="input-group-addon bold" focus-next-when-clicked>Name</span>
        <input type="text" class="form-control" ng-model="item.name" focus-on-load />
      </div>
      <div class="input-group" title="A short description of this domain">
        <span class="input-group-addon bold" focus-next-when-clicked>Description</span>
        <input type="text" class="form-control" ng-model="item.description" />
      </div>
    </div>
    <div class="crud_buttons">
      <button class="btn btn-primary" ng-click="$root.saveDomain(item); closePopup();" title="Update (Ctrl + Enter)">
        {{mode}}
        <span class="glyphicon glyphicon-ok"></span>
      </button>
      <button ng-if="mode === 'Update'" class="btn btn-danger"
              ng-click="$root.deleteDomain(item); closePopup();" title="Delete (Ctrl + Delete)">
        Delete
        <span class="glyphicon glyphicon-trash"></span>
      </button>
      <button ng-if="mode === 'Update'" class="btn btn-warning float-right"
              ng-click="$root.revertDomain(item); closePopup();" title="Discard Changes (Esc)">
        Discard
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button ng-if="mode !== 'Update'" class="btn btn-warning float-right"
              ng-click="$root.newDomain(); closePopup();" title="Cancel (Esc)">
        Cancel
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
</div>