<div class="tab_wrapper" ng-class="{ 'has-error': area_error }">
  <h2>Areas</h2>
  <table class="table table-striped" ng-show="areas.length">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Domain</th>
      <th>Prompt for Record Details?</th>
    </thead>
    <tbody>
    <tr ng-repeat="area in areas | orderBy: 'domain'" ng-click="activeArea(area)">
      <td class="clickable">
        {{area.name}}
      </td>
      <td class="clickable">
        {{area.description}}
      </td>
      <td class="clickable">
        {{areaDomainName(area)}}
      </td>
      <td class="clickable">
        {{area.prompt_for_details ? 'Yes' : 'No'}}
      </td>
      <td class="clickable">
        <button class="btn btn-danger" ng-click="deleteArea(area); $event.stopPropagation()" title="Delete">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <h3 ng-show="editing_area">Edit Area</h3>
  <h3 ng-hide="editing_area">New Area</h3>
  <div ng-ctrl-enter="$root.saveArea(item)"
       ng-ctrl-delete="$root.deleteArea(item);"
       ng-escape="$root.revertArea(item)">
    <label for="area_name">Name:</label>
    <input type="text" ng-model="area.name" id="area_name" />
    <label for="area_description">Description:</label>
    <input type="text" ng-model="area.description" id="area_description" />
    <label for="area_domain">Domain:</label>
    <select ng-model="area.domain" placeholder="Select a Domain" ng-options="domain._id as domain.name for domain in domains" id="area_domain"></select>
    <label for="area_prompt_for_details">Prompt for Record Details?</label>
    <select ng-model="area.prompt_for_details" id="area_prompt_for_details"
            ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]">
    </select>
    <input type="hidden" ng-model="area.start_day" />
    <button type="submit" class="btn btn-primary">Submit</button>
    <button ng-show="editing_area" class="btn btn-warning" ng-click="$root.revertArea()">Cancel</button>
  </div>
  <div class="help-block" ng-if="area_error">{{area_error}}</div>
</div>