<div class="tab_wrapper" ng-class="{ 'has-error': domain_error }">
  <h2>Domains</h2>
  <table class="table table-striped" ng-show="domains.length">
    <thead>
      <th>Name</th>
      <th>Description</th>
    </thead>
    <tbody>
    <tr ng-repeat="domain in domains | orderBy: '_id'" ng-click="activeDomain(domain)">
      <td>
        {{domain.name}}
      </td>
      <td>
        {{domain.description}}
      </td>
      <td><button class="btn btn-danger" ng-click="deleteDomain(domain); $event.stopPropagation()">Delete</button></td>
    </tr>
    </tbody>
  </table>
  <h3 ng-show="editing_domain">Edit Domain</h3>
  <h3 ng-hide="editing_domain">New Domain</h3>
  <form ng-submit="saveDomain(domain)">
    <label for="domain_name">Name:</label>
    <input ng-model="domain.name" id="domain_name" />
    <label for="domain_description">Description:</label>
    <input ng-model="domain.description" id="domain_description" />
    <button type="submit" class="btn btn-primary">Submit</button>
    <button ng-if="editing_domain" class="btn btn-warning" ng-click="revertDomain()">Cancel</button>
  </form>
  <div class="help-block" ng-if="domain_error">{{domain_error}}</div>
</div>