<table class="table table-striped">
  <thead ng-if="showHeader">
    <th></th>
    <th ng-repeat="day in [firstDay, lastDay] | makeRange">{{ day | dayToDate | dateFormat }}</th>
  </thead>
  <tbody>
    <tr ng-repeat="area in domain_areas | orderBy: 'name' | etceteraGoLast"
        ng-show="! area.hidden || show_hidden || area._backup">
      <td ng-if="clickToAddRecordToFirstDay"
          class="clickable parent-sibling-cell-trigger"
          title="{{area.description}} (Click to create record)"
          ng-click="$root.createRecord(area._id, firstDay)">
        <span class="small-grey-icon glyphicon glyphicon-chevron-down"
              title="Edit {{area.name}}"
              crudtooltip="."
              crudtooltip-item="area"
              crudtooltip-type="area"
              crudtooltip-mode="Update"
              crudtooltip-trigger="click"
              crudtooltip-placement="bottom"
              ng-click="$event.stopPropagation()">
        </span>
        {{ area.name }}
      </td>
      <td ng-if="! clickToAddRecordToFirstDay"
          title="{{area.description}}">
        <span class="small-grey-icon glyphicon glyphicon-chevron-down"
              title="Edit {{area.name}}"
              crudtooltip="."
              crudtooltip-item="area"
              crudtooltip-type="area"
              crudtooltip-mode="Update"
              crudtooltip-trigger="click"
              crudtooltip-placement="bottom"
              ng-click="$event.stopPropagation()">
        </span>
        {{ area.name }}
      </td>
      <td class="clickable parent-cell-trigger"
          title="{{area.description}} (Click to create record)"
          ng-click="$root.createRecord(area._id, day)"
          ng-repeat="day in [firstDay, lastDay] | makeRange">
        <span class="small-grey-icon glyphicon glyphicon-plus"
              ng-if="! records[area._id][day] || records[area._id][day].length === 0"></span>
        <span class="glyphicon glyphicon-ok-sign"
              ng-repeat="record in records[area._id][day]"
              title="{{record.details || 'Click to edit record'}}"
              trigger-click-on-load
              crudtooltip="."
              crudtooltip-item="record"
              crudtooltip-type="record"
              crudtooltip-mode="Update"
              crudtooltip-trigger="click"
              ng-click="$event.stopPropagation()">
        </span>
      </td>
    </tr>
    <tr title="{{domain.description}}">
      <td>
        <span class="small-grey-icon glyphicon glyphicon-plus"
              title="Add new {{domain.name}} Area"
              crudtooltip="."
              crudtooltip-item="$root.new_area"
              crudtooltip-type="area"
              crudtooltip-mode="Create"
              crudtooltip-trigger="click"
              crudtooltip-placement="bottom"
              ng-click="$root.new_area.domain = domain._id">
        </span>
        Total
      </td>
      <td ng-repeat="day in [firstDay, lastDay] | makeRange">
        {{ $root.getNumRecords(domain_areas, day) }}
      </td>
  </tbody>
</table>