<div class="popover {{placement}}" ng-class="{ in: isOpen, fade: animation() }">
  <div class="arrow"></div>
  <div class="popover-inner">
    <div>
      <textarea placeholder="Description" ng-model="item.details"
                focus-on-load ng-ctrl-enter="saveRecord(item)" />
    </div>
    <button class="btn btn-primary" ng-click="saveRecord(item);" title="Update">
      <span class="glyphicon glyphicon-ok"></span>
      <img src="/ctrl_enter.png" />
    </button>
    <button class="btn btn-danger" ng-click="deleteRecord(item);" title="Delete">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
    <button class="btn btn-warning" ng-click="revertRecord(item);" title="Discard Changes">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
</div>