<table class="table table-striped">
  <thead ng-if="showHeader">
    <th>Area</th>
    <th ng-repeat="day in [firstDay, lastDay] | makeRange">{{ day | dayToDate | dateFormat }}</th>
  </thead>
  <tbody>
    <tr ng-repeat="area in domain_areas | orderBy: 'name' | etceteraGoLast" title="{{area.description}}">
      <td ng-if="clickToAddRecordToFirstDay"
          class="clickable"
          ng-click="createRecord(area._id, firstDay)">
        {{ area.name }}
      </td>
      <td ng-if="! clickToAddRecordToFirstDay">
        {{ area.name }}
      </td>
      <td class="clickable"
          ng-click="createRecord(area._id, day)"
          ng-repeat="day in [firstDay, lastDay] | makeRange">
        <span class="glyphicon glyphicon-ok-sign"
              ng-repeat="record in records[area._id][day]"
              title="{{record.details}}"
              trigger-click-on-load
              customtooltip="(Overridden by template)"
              customtooltip-item="record"
              customtooltip-methods="record_methods"
              customtooltip-trigger="click"
              ng-click="$event.stopPropagation()">
        </span>
      </td>
    </tr>
    <tr title="{{domain.description}}">
      <td>
        Total
      </td>
      <td ng-repeat="day in [firstDay, lastDay] | makeRange">
        {{ getNumRecords(domain_areas, day) }}
      </td>
  </tbody>
</table>