<div class="time_container">
  <div>
    <a href="#/week/{{last_day - 7}}" class="change_time"
       click-on-arrow="left">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </a>
    <h2 class="time_header">
      {{ last_day - 6 | dayToDate | dateFormat }} - {{ last_day | dayToDate | dateFormat }}
    </h2>
    <a ng-if="last_day < today" class="change_time"
       href="#/week/{{last_day + 7 === today ? '' : last_day + 7}}"
       click-on-arrow="right">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </a>
    <span ng-if="last_day >= today"
          class="disabled glyphicon glyphicon-arrow-right">
    </span>
  </div>
  <div ng-repeat="(domain_id, domain_areas) in domain_area_map"
       ng-init="domain = getDomain(domain_id)"
       ng-show="! domain.hidden || show_hidden || domain._backup"
       class="domain_container">
    <div class="domain-header">
      <span class="small-grey-icon glyphicon glyphicon-chevron-down"
            title="Edit {{domain.name}}"
            crudtooltip="."
            crudtooltip-item="domain"
            crudtooltip-type="domain"
            crudtooltip-mode="Update"
            crudtooltip-trigger="click"
            crudtooltip-placement="bottom"
            ng-click="$event.stopPropagation()">
      </span>
      <h3 title="{{domain.description}}" class="domain-title">{{ domain.name }}</h3>
    </div>
    <records-table domain="domain" domain-areas="domain_areas" show-header="true" show-hidden="show_hidden"
                   records="records" first-day="{{last_day - 6}}" last-day="{{last_day}}">
    </records-table>
  </div>
  <button class="btn btn-primary btn-xl add-domain-button" title="Add new Domain"
          crudtooltip="."
          crudtooltip-item="$root.new_domain"
          crudtooltip-type="domain"
          crudtooltip-mode="Create"
          crudtooltip-trigger="click"
          crudtooltip-placement="top">
    <span class="glyphicon glyphicon-plus"></span>
    Add New Domain
  </button>
</div>