<% include ../../../views/head_start %>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/select.css" />
<% include ../../../views/head_end_and_header %>
  <div ng-app="app" id="wrapper">
    <div id="sidebar-wrapper">
      <a href="#/domains">
        <img src="/logo_150.jpg" />
      </a>
      <ul class="sidebar-nav">
        <navlink href="day/{{today}}" title="Today"></navlink>
        <navlink href="week/{{today}}" title="This Week"></navlink>
      </ul>
      <hr />
      <button ng-show="! show_hidden" class="btn btn-primary btn-xs"
              ng-init="show_hidden = false"
              ng-click="show_hidden = true" title="Show hidden domains and areas">
        Show Hidden
        <span class="glyphicon glyphicon-eye-open"></span>
      </button>
      <button ng-show="show_hidden" class="btn btn-primary btn-xs"
              ng-click="show_hidden = false" title="Hide hidden domains and areas">
        Hide Hidden
        <span class="glyphicon glyphicon-eye-close"></span>
      </button>
      <br />
      <a href="http://blog.ayoshitake.com/?q=2014/07/14/building-trolls-goals-10" target="_blank">Help</a>
    </div>
    <div id="page-content-wrapper">
      <div class="page-content">
        <div ng-view>
        </div>
      </div>
    </div>
    <div id="error-wrapper" class="hidden" ng-class="{ 'has-error': error, 'hidden': ! error }">
      <div class="help-block" ng-if="error">
        An error occurred while {{ error.action + (error.message ? ': ' + error.message : '.') }}
        <br />
        Sorry! Please try again, or refresh the page.
        <span class="small-grey-icon glyphicon glyphicon-remove"
              ng-click="$root.error = null">
        </span>
      </div>
    </div>
  </div>
<% include ../../../views/foot_start %>
  <script src="/js/lib/jquery.idle.min.js"></script>
  <script src="/js/lib/lodash.js"></script>
  <script src="/js/lib/async.js"></script>
  <script src="/js/lib/angular.js"></script>
  <script src="/js/lib/multiselect.js"></script>
  <script src="/js/lib/angular-route.js"></script>
  <script src="/js/lib/angular-resource.js"></script>
  <script src="/js/lib/select.js"></script>
  <script src="/js/lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
  <script src="/js/crud_tooltip.js"></script>

  <script src="/js/main.js"></script>
  <script src="/js/filters.js"></script>
  <script src="/js/directives.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/areas.js"></script>
  <script src="/js/domains.js"></script>
  <script src="/js/records.js"></script>
  <script src="/js/records_table.js"></script>
<% include ../../../views/foot_end %>