<% include ../../../views/head_start %>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
<% include ../../../views/head_end_and_header %>
  <div ng-app="app" id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <navlink href="manage_categories" title="Manage Categories"></navlink>
        <navlink href="manage_tags" title="Manage Tags"></navlink>
        <h3>Tags</h3>
        <navlink href="tags/" title="All"></navlink>
        <navlink ng-repeat="tag in tags" href="tags/{{tag.name}}" title="{{tag.name}}"></navlink>
      </ul>
    </div>
    <div id="page-content-wrapper">
      <div class="page-content">
        <h1>Welcome to Troll's Goals!</h1>
        <div ng-view>
        </div>
      </div>
    </div>
  </div>
<% include ../../../views/foot_start %>
  <script src="/js/lib/lodash.js"></script>
  <script src="/js/lib/async.js"></script>
  <script src="/js/lib/angular.js"></script>
  <script src="/js/lib/multiselect.js"></script>
  <script src="/js/lib/angular-route.js"></script>
  <script src="/js/lib/angular-resource.js"></script>
  <script src="/js/lib/ui-bootstrap-tpls-0.10.0.js"></script>

  <script src="/js/main.js"></script>
  <script src="/js/filters.js"></script>
  <script src="/js/categories.js"></script>
  <script src="/js/tags.js"></script>
  <script src="/js/records.js"></script>
<% include ../../../views/foot_end %>