html {
}

body {
	margin-top: 10%;
	text-align: center;
}

a {
	color: black;
}

h1 {
	font-size: 500%;
}

span.glyphicon {
	font-size:120px;
}

img {
vertical-align: baseline;

}
.box_gar {
	margin: 4%;
}

#github {
	background: url('/img/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png');
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
	 width: 120px; /* Width of new image */
	 height: 120px; /* Height of new image */
	 padding-left: 120px; /* Equal to width of new image */
}
#github:hover {
	background: url('/img/GitHub-Mark/PNG/GitHub-Mark-120px-plus_blue2.png');
}