@font-face {
    /*font found at http://www.fontsquirrel.com/fonts/Destroy*/
    font-family: "DESTROY";
    src: url(/DESTROY.ttf) format("truetype");
}

#logo {
opacity: 0.5;
-moz-opacity: 0.5;
filter:alpha(opacity=5);
}

body{
    margin: 0px;
    padding: 0px;
}
    
html {

  /*new gradient */
background: #5b5f66; /* Old browsers */
background: -moz-linear-gradient(top,  #5b5f66 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5f66), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5b5f66 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5b5f66 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5b5f66 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #5b5f66 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5f66', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

	text-align: center;
	min-width: 100%;
	min-height: 100%;
}

.slideshow {
  margin-top: 5em;
  margin-right: auto;
  margin-left: auto;
}

.slideshow a {
  width: 276px;
}

.slideshow a.portal img {
    width: 275px;
}

.button {
   border-top: 1px solid #5a6770;
   background: #586975;
   background: -webkit-gradient(linear, left top, left bottom, from(#888c8b), to(#586975));
   background: -webkit-linear-gradient(top, #888c8b, #586975);
   background: -moz-linear-gradient(top, #888c8b, #586975);
   background: -ms-linear-gradient(top, #888c8b, #586975);
   background: -o-linear-gradient(top, #888c8b, #586975);
   padding: 6px 12px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #6b7880;
   background: #6b7880;
   color: #88db83;
   }
.button:active {
   border-top-color: #040505;
   background: #040505;
   }

.password {
    margin: 20px;
}

.portal {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.submit_button {
    margin: 20px;
}

.slideshow {
  margin-top: 5em;
  margin-right: auto;
  margin-left: auto;
}

.username {
    margin: 20px;
}

.uglyregistration {
    margin: 20px;
    text-align: center;   
}

#about_intro {
    text-wrap: normal;
    color: white;
    font-family: Georgia, sans-serif;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #000;

    width: 720px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

#about_content {
	display: none; 
	text-wrap: normal;
	color: white;
	font-family: Georgia, sans-serif;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #000;

	width: 720px;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
}

#about content > {
	margin-top: 20 px;

}
#about_page > img {
	opacity: 50%;
}

#contact-main {
    font-family: Paprika, courier, sans-serif;
    
}    

#login_main {
    font-family: DESTROY, Paprika, sans-serif;
    margin: 100px 20px 20px 20px;
}

#under_construction {
	display: none;
    font-weight: normal;
}

#about_page {
	background-image: url('/img/space_768.jpeg');
	width:100%;
	height:100%;
}

#registration_main {
	font-family: DESTROY, Paprika, sans-serif;
	margin: 100px 20px 20px 20px;

}o