<% include ../../../views/head %>

  <div role="main">
    <img src="img/crystalball.jpg" height = 300em />
    <form method="post" action="new_fortune" id="new_fortune_form">
        <label for="fortune" id="fortune_label">New fortune:</label>
        <input type="text" id="fortune" name="fortune" />
        <input type="submit" id="new_fortune_button" value="Predict the future" />
    </form>
  </div>
  <footer>
  </footer>
  
<% include ../../../views/foot %>