<% include ../../../views/head %>

  <div role="main">
    <img src="img/opencookie.jpg" height = 300em />
    <% if (result.fortune) { %>
      <p>
        <span class="fortune" id="my_fortune_<%= result._id %>">
          <%= result.fortune %>
        </span>
      </p>
    <% } %>
  </div>
  
<% include ../../../views/foot %>