<% include ../../../views/head %>

  <div role="main">
    <table align="center">
      <td>
        Are you a fortune teller? <br />
        <a href = "fortune_teller" >
          <img src = "img/crystalball.jpg" height = 300em />
        </a>
      </td>
      <td>
        Or would you like a cookie?  <br />
        <a href = "fortune_cookie" >
          <img src = "img/fortunecookie.jpg" height = 300em />
        </a>
      </td>
    </table>
  </div>
  <footer>
  </footer>
  
<% include ../../../views/foot %>