<% include ../../../views/head %>

  <div role="main">
    <img src="img/opencookie.jpg" height = 300em />
    <% if (results) { 
      for (var i = 0, result; i < results.length; i++) { result = results[i];%>
        <p>
          <% if (manage) { %>
            <span class="fortune" id="fortune_<%= result._id %>">
              <%= result.fortune %>
            </span>
            <a class="delete-button" href="remove_fortune/<%= result._id %>">
            Remove</a>
          <% } else { %>
            <span>
              <%= result.fortune %>
            </span>
          <% } %>
        </p>
    <% } 
    } %>
  </div>
  
<% include ../../../views/foot %>