h1 {
    position: center;
}

#board {
    position: relative;
    float: left;
}

#board-table {
    border-spacing: 5px;
    border-collapse: separate;
    border: 1px solid black;
    background-color: #bbbbbb;
}

#board-table td {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 0px;
    text-align: center;
    font-weight: bold;
}

#board-table td:not(.boardSpace) {
    background-color: #999999;
}

#board-table td.boardSpace {
    z-index: 3;
    background-color: white;
}

#board-table td.boardSpace.victory {
    background-color: green;
}

#board-table td.boardSpace.loss {
    background-color: red;
}

#active-board {
    text-align: center;
    position: absolute;
    z-index: 2;
}

#active-board span.verticalGap {
    position: absolute;
    width: 5px;
    height: 50px;
    z-index: 4;
    background-color: #ffc;
}

#active-board span.horizontalGap {
    position: absolute;
    width: 50px;
    height: 5px;
    z-index: 4;
    background-color: #ffb;
}

/*#active-board span.gapGap {
    position: absolute;
    width: 5px;
    height: 5px;
    z-index: 4;
    background-color: #ffd;
}*/

#active-board span.placeFenceHint {
    background-color: #51ed68;
}

#active-board span.fence.redFence {
    background-color: red;
}

#active-board span.fence.blueFence {
    background-color: blue;
}

#active-board span.fence.redFence.lastMoveFence {
    background-color: orangered;
}

#active-board span.fence.blueFence.lastMoveFence {
    background-color: blueviolet;
}

#active-board span.fence.removeFenceHint {
    background-color: orange !important;
}

.undoHint {
    background-color: orange !important;
}

img.jumpMove {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: .5;
}

img.possibleMove {
    opacity: .5;
    cursor: pointer;
}

img.possibleMove:hover {
    opacity: 1;
}

#chat {
    position: relative;
    float: left;
    margin-left: 50px;
    background-color: white;
}

#chat p {
    word-wrap: break-word;
    margin: 0px;
    border-bottom: 1px solid #eeeeee;
    text-align: left;
}

.ui-dialog {
    border-color: black !important;
}

.ui-widget-content {
    font-size: .9em !important;
}

#undo_button {
    display: inline;
    float: left
}

#fence_counters {
    display: inline;
    float: left;
}

#red_fence_counter {
    color: red;
}

#blue_fence_counter {
    color: blue;
}