<% include ../../../views/head %>

  <div role="main" class="main">
      Click on Wilfred the messenger pigeon to send us an e-mail.
      <br />
      <a href="mailto:airandfingers@gmail.com"> <img src="/img/messenger_pigeon.jpg" /> </a>
      <br />
  </div>

  <footer>
    <h3> Disclaimer</h3>
    No pigeons were harmed in the making of this website.
  </footer>

<% include ../../../views/foot %>